<!DOCUTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>JavaScriptLab</title>
</head>
<body>
    <header>
        <h1>JavaScriptLab</h1>
    </header>
    <article>
        <p>
            <ul>
                <li><a href="htmls/hello.html">hello</a></li>
                <li><a href="htmls/data_type.html">データ型</a></li>
            </ul>
        </p>
    </article>
</body>
