<!DOCUTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>データ型 - JavaScriptLab</title>
</head>
<body>
    <header>
        <h1>データ型</h1>
    </header>
    <article>
        <p>
            <ul>
                <li><a href="JavaScript:window.alert(str);">テンプレート文字列</a></li>
                <li><a href="JavaScript:window.alert(array[0]);">配列リテラル array[0]</a></li>
                <li><a href="JavaScript:window.alert(array[1][0]);">配列リテラル array[1][0]</a></li>
                <li><a href="JavaScript:window.alert(obj['x']);">オブジェクトリテラル obj['x']</a></li>
            </ul>
        </p>
    </article>

    <script type="text/javascript" src="../javascripts/data_type.js"></script>
</body>
