<!DOCUTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>hello - JavaScriptLab</title>
</head>
<body>
    <article>
        <p>
            <!-- JavaScript擬似プロトコル -->
            <!-- JavaScriptは<script>要素で記述するほか、アンカータグのhref属性に、「JavaScript:～」の形式でスクリプトを埋め込むこともできます。 -->
            <a href="JavaScript:window.alert('JavaScript擬似プロトコル')">JavaScript擬似プロトコル</a>
        </p>
    </article>

    <!-- HTML内に組み込まれたJavaScript -->
    <script type="text/javascript">
        window.alert('hello.html');
    </script>

    <!-- 外部スクリプトのインポート -->
    <script type="text/javascript" src="../javascripts/hello.js"></script>

    <!-- JavaScript機能が無効の環境で代替コンテンツを表示させる: <noscript>要素 -->
    <noscript>Javascript is unavailable.</noscript>
</body>
